<div class="navbar">
  <img src="/assets/circlekitalogo.png" alt="" />
  <p><a href="/">Home</a></p>

  <form action="" method="GET" class="searchBar">
    <input type="text" name="title" placeholder="Search by title" />
    <input type="submit" value="Search" />
  </form>

  
  <p><a href="/profile">Profile</a></p>

  <p><a href="/logout">Logout</a></p>
  
</div>
