<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CircleKita</title>
    <link rel="stylesheet" href="/style.css">
    <%- include('_fonts') %>
  </head>
  <body>
    <%- include('_navbarhomepage') %>


    <div>

    </div>

    <a href="/addPost">add Post</a>
  </body>
</html>
