<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | CircleKita</title>
    <link rel="stylesheet" href="/style.css" />
    <%- include('_fonts') %>
  </head>
  <body>
    <%- include('_navbar') %>
    <div class="form-login">
      <h1>Selamat Datang, Silahkan Login.</h1>

      <% if (error) { %>
      <p style="color: red"><%= error %></p>
      <% } %>

      <div>
        <form action="" method="post">
          <label>Username</label><br />
          <input type="text" name="username" /><br />

          <label>Password</label><br />
          <input type="password" name="password" /><br />

          <input type="submit" value="Submit" />

          <p>Belum punya akun? Silahkan <a href="/register">Buat Akun.</a></p>
        </form>
      </div>
    </div>
  </body>
</html>
