<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register | CircleKita</title>
    <link rel="stylesheet" href="/style.css" />
    <%- include('_fonts') %>
  </head>
  <body>
    <%- include('_navbar') %>

    <div class="register-page">
      <div class="header">
        <h1>Selamat Datang di</h1>
        <img src="/assets/circlekitalogo.png" alt="" />
      </div>

      <% if (error) { %>
      <div class="error-alert-register">
        <p style="color: red"><%= error %></p>
      </div>

      <% } %>

      <div class="register-form">
        <form action="" method="post" enctype="multipart/form-data">
          <label>Username</label><br />
          <input type="text" name="username" /><br />

          <label>Email</label><br />
          <input type="text" name="email" /><br />

          <label>Password</label><br />
          <input type="password" name="password" /><br />

      <label>Role</label><br />
      <input type="text" name="role" /><br />

      <label for="profileImage">Profile Image:</label>
      <input type="file" name="profileImage" accept="image/*" required />
          <label>Role</label><br />
          <input type="text" name="role" /><br />

          <input type="submit" value="Submit" />
        </form>

        <p>Sudah punya akun? silahkan <a href="/login">Login.</a></p>
      </div>
    </div>
  </body>
</html>
